/*fonts
font-family: 'Josefin Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/
*{
    font-family: 'Poppins', sans-serif;
    font-size: 0.938rem;
}
.navbar{
    background-color: #5E9299;
}
img{
    inline-size: 30px;
    margin-left: 0;
}
ul li{
    list-style-type: none;
    
}
a{
    text-decoration: none;
    color: #000
}
section{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.head-label{
    font-family: 'Josefin Sans', sans-serif;
    color: #D3B5E5;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.btn{
    background-color: #053B47;
    border-radius: 20px;
    color: #fff;
}
.card{
    margin: 0.5rem;
    width: calc(100%);
    border: none;
    text-align: center;
}
.featuredcontainer{
    display: flex;
}
footer{
    background-color: #5E9299;
    bottom: 0;
}