/*fonts
font-family: 'Josefin Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/
*{
    font-family: 'Poppins', sans-serif;
    font-size: 0.938rem;
    justify-content: center;
}
#topnav{
    background-color: #5E9299;
}
img{
    inline-size: 30px;
    margin-left: 0;
}
ul li{
    list-style-type: none;
    padding-left: 0;
    padding: 5px;
    
}
.nav li a, a{
    text-decoration: none;
    color: #000;
    font-weight: bolder;
}
section{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.head-label{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.btn{
    background-color: #000;
    border-radius: 20px;
    color: #fff;
    font-weight: bolder;
}
.btn a{
    color: #fff;
    font-weight: bolder;
}
/*footer*/
footer{
    background-color: #5E9299;
    bottom: 0;
    color: #fff;
}
footer li a{
    color: #fff;
    font-weight: normal;
}
/*homepage*/
/*featured products carousel*/
.card{
    margin: 0.5rem;
    width: calc(100%);
    border: none;
    text-align: center;
}
.featuredcontainer{
    display: flex;
}

/*community*/
.community{
    background-color: #5E9299;
}
.community div{
    background-color: #5E9299;
    color: #fff;
}
/*newsletter*/
.newsletter{
    background-color: #E8B867;
    display: inline-block;
    justify-content: center;
}


/*registration page*/
.verticalrule{
    max-height: max-content;
}
.easy-reg button{
    background-color: #fff;
    border-radius: 20px;
    font-weight: bolder;
    border: 2px solid #5E9299;
}
.easy-reg button a{
    color: #5E9299;
    font-weight: bolder;
}
.feedback button{
    max-width: 100%;
}

/*blog page*/
#who{
    box-sizing: border-box;
    background-color: #E8B867;
    border-radius: 0px;
    box-shadow:  20px 20px 60px #d9d9d9,
                -20px -20px 60px #ffffff;
}